<p>
    Здравствуйте {{ user_first_name }} {{ user_last_name }}. Рады приветствовать вас на нашем сайте {{ host }}.
    Для того, чтобы подтвердить электронную почту пройдите по ссылке ниже.
    <a href="{{ confirmation_url }}" class="btn btn-info" role="button">Подтвердить</a>
</p>
