{% extends '@infrastructure/base.html.twig' %}

{% block body %}
    <div class="py-4 container bg-white rounded-3 p-5 pt-4 mt-4">
        <div class="row mb-3 align-items-center">
            <h2>Edit word</h2>
        </div>
        {% include '@learning/word/form.html.twig' %}
    </div>
{% endblock %}
