{% extends '@infrastructure/base.html.twig' %}

{% block body %}
    <div class="py-4 container bg-white rounded-3 p-5 pt-4 mt-5">
        <div class="d-flex mb-3">
            <div><h2>{% block table_header %}{% endblock %}</h2></div>
            <div class="ms-auto align-self-end">
                {% block upper_table_button %}{% endblock %}
            </div>
        </div>
        {% block table %}{% endblock %}
    </div>
{% endblock %}
